In [1]:
#import packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [2]:
# read the data set
df=pd.read_csv('wusool_data.csv')

In [3]:
# show the 1st two rows in data set
df.head(2)

,رقم تسلسلي,الحالة,المدينة,المنطقة,مدينة العنوان الوطني,تاريخ أول رحلة,تاريخ آخر رحلة,تاريخ التسجيل
0,1,فعالة (قامت بأخذ رحلة واحدة على الأقل في البرن...,ثول,مكة المكرمة,NaN,4/15/2021,4/16/2021,4/12/2021
1,2,فعالة (قامت بأخذ رحلة واحدة على الأقل في البرن...,طريف,الرياض,NaN,3/2/2021,4/20/2021,3/1/2021

In [4]:
# show the informations in data set
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123871 entries, 0 to 123870
Data columns (total 8 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   رقم تسلسلي            123871 non-null  int64
 1   الحالة                123871 non-null  object
 2   المدينة               119594 non-null  object
 3   المنطقة               121306 non-null  object
 4   مدينة العنوان الوطني  96088 non-null   object
 5   تاريخ أول رحلة        100594 non-null  object
 6   تاريخ آخر رحلة        100594 non-null  object
 7   تاريخ التسجيل         123871 non-null  object
dtypes: int64(1), object(7)
memory usage: 7.6+ MB

In [5]:
df.columns

Index(['رقم تسلسلي', 'الحالة', 'المدينة', 'المنطقة', 'مدينة العنوان الوطني',
       'تاريخ أول رحلة', 'تاريخ آخر رحلة', 'تاريخ التسجيل'],
      dtype='object')

In [6]:
# rename the columns
df= df.rename(columns={
    'رقم تسلسلي':'serial-number',
    'الحالة':'status',
    'المدينة':'city',
    'المنطقة':'region',
    'مدينة العنوان الوطني':'NAS',
    'تاريخ أول رحلة':'FirstFlightDate',
    'تاريخ آخر رحلة':'LastFlightDate',
    'تاريخ التسجيل':'RegistrationDate'})

In [7]:
df.columns

Index(['serial-number', 'status', 'city', 'region', 'NAS', 'FirstFlightDate',
       'LastFlightDate', 'RegistrationDate'],
      dtype='object')

In [8]:
print(df.dtypes)

serial-number        int64
status              object
city                object
region              object
NAS                 object
FirstFlightDate     object
LastFlightDate      object
RegistrationDate    object
dtype: object